.App {

  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(29,41,58);
}


.indexPanel{
  height:100%;

  background-color: rgb(15,23,34);
}

.toolGrid{
  width: 80%;

  position: relative;
  left: 10%;

  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
  align-items:center;
  align-content: center;
}

.toolPanel{
  height: 100vh;
  min-height: 10cm;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgb(29,41,58);
}

.toolHeader{
  padding-top: 5vh;
  padding-bottom: 5vh;

  user-select: none;
  text-align: center;
  vertical-align: middle;

  color:hsl(0,0%,95%);

  font-size: 3em;
  font-weight: normal;
}

.indexMessage{
  user-select: none;
  text-align: center;
  vertical-align: middle;
  
  color:hsl(0,0%,95%);

  font-size: 2vh;
  font-weight: normal;
}

.toolIcon{
  width: 12vh;

  user-select: none;

  justify-content: center;
  align-items: center;
  background-color: rgb(23,30,43);

  margin: 10px 20px 20px 10px;
}

.toolIcon:hover{
  width: 12vh;

  user-select: none;

  justify-content: center;
  align-items: center;
  background-color: rgb(53,67,87);

  margin: 10px 20px 20px 10px;
}

.selectedIcon{
  width: 12vh;

  user-select: none;
  
  justify-content: center;
  align-items: center;
  background-color: rgb(108,99,25);

  margin: 10px 20px 20px 10px;
}